$color-boton: rgb(255, 255, 255);
$background-boton: rgb(3, 99, 177);
$font-boton: 2rem;
$radius: 1rem;

.main-carrito {
    h1 {
        margin-top: 7rem;
        margin-bottom: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 5rem;
    }

    section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: rgb(240, 236, 236);
        height: 40rem;
        width: 50%;
        margin-inline: 25%;
        margin-bottom: 15rem;
        border-radius: $radius;

        p {
            font-size: 1.8rem;
        }

        button {
            color: $color-boton;
            background-color: $background-boton;
            font-size: $font-boton;
            border-radius: $radius;
            border: none;
            padding: 1.3rem;
            font-weight: bold;
        }


    }
}

@mixin boton($backgroud-boton, $border-boton, $font-size, $margin-left) {

    background-color: $backgroud-boton;
    border: $border-boton;
    margin-bottom: 1.5rem;
    margin-left: $margin-left;
    border-radius: 0.5rem;
    font-size: $font-size;
}


.button-llega {
    @include boton(rgb(202, 200, 200), 1px black solid, 2rem, 2rem);

}

.button-envio {
    @include boton(rgb(202, 200, 200), 1px black solid, 2rem, 2rem);
}

.button-llega:hover {
    @include boton(rgb(77, 110, 221), 1px black solid, 2rem, 2rem);
}

.button-envio:hover {
    @include boton(rgb(74, 175, 83), 1px black solid, 2rem, 2rem);
}

@media only screen and (max-width:500px) {

    .main-carrito section {
        display: flex;
        height: 40rem;
        width: 90%;
        margin-inline: 2rem;
        margin-bottom: 15rem;
        border-radius: $radius;
    }

    .button-envio:hover {
        @include boton(rgb(74, 175, 83), 1px black solid, 1rem, 0);
    }

    .button-llega:hover {
        @include boton(rgb(77, 110, 221), 1px black solid, 1rem, 0);
    }

}

@media only screen and (min-width:501px) and (max-width:999px) {
    .main-carrito h1 {
        font-size: 10rem;
    }

    .main-carrito section {
        display: flex;
        height: 40rem;
        width: 95%;
        margin-inline: 2rem;
        margin-bottom: 40rem;
        border-radius: $radius;
    }

    .main-carrito section p {
        font-size: 3rem;
    }

    .main-carrito section button {
        font-size: 2.5rem;
    }

}

@media only screen and (min-width: 2500px) {
    .main-carrito section {
        margin-bottom: 200rem;
    }
}

/* CODIGO POR DEFECTO 1REM=10PX*/
html {
    font-size: 62.5%;
    box-sizing: border-box;
    text-decoration: none;
}


nav {
    display: flex;
    height: 8rem;
}

nav ul li {
    list-style-type: none;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.nav-title a {
    font-size: 4.5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    -webkit-text-stroke-color: rgb(143, 143, 139);
    -webkit-text-stroke-width: 2px;
}

.nav-title a:hover {
    color: #5a5959;

}

.nav-item a {
    font-size: 3.5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    -webkit-text-stroke-color: rgb(119, 119, 117);
    -webkit-text-stroke-width: 1px;
}

.nav-item a:hover {
    color: #5a5959;
}

.bg-body-tertiary {
    z-index: 1040;
    background-color: #4381C1;
}

.navbar {
    background-color: #171717;
    z-index: 1040;
    border-bottom: 0.2rem solid white;
    ;
}

.icon-tabler-shopping-cart {
    margin-top: -10px;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EEDF9B;
    width: 100%;
    height: 2.5rem;
    font-size: 1.4rem;
}


body {
    margin: 0;
    background-color: rgb(26, 3, 3);
}

.carousel {
    margin-bottom: 5rem;
}

.metodos-de-pagos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    list-style-type: none;
    margin-bottom: 10rem;
}

.items li {
    font-size: 3.6rem;
    padding-left: 15rem;
    padding-right: 15rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.items p {
    font-size: 1.9rem;
    padding-left: 15rem;
    padding-right: 15rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.ayuda {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}

.ayuda h3 {
    padding-left: 7rem;
    padding-right: 7rem;
    font-size: 2.8rem;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.ayuda p {
    padding-left: 7rem;
    padding-right: 7rem;
    font-size: 1.5rem;
    font-family: monospace;
}

.data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.images {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10rem;
}

.images img {
    padding-inline: 2rem;
}

.grid-container {
    display: grid;
    grid-template-columns: 30% 70%;
    padding-inline: 10rem;
    padding-top: 5.5rem;
    background-color: rgb(240, 236, 236);
}

h3 a {
    text-decoration: none;
    color: black;
}

.shop {
    background-color: rgb(255, 255, 255);
    margin-bottom: 5rem;
}

.shop h3 {
    font-size: 2.5rem;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
}

.shop h3 a:hover {
    color: rgb(127, 127, 128);
}

.shop .new-price {
    font-size: 2.5rem;
}

.shop p {
    font-size: 1.6rem;
}


.filtros h2 {
    font-size: 3rem;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.last-price {
    text-decoration: line-through;
}

.container-envio {
    display: flex;
}

.envio {
    background-color: beige;
    margin-right: 3rem;
    border: 1px solid rgb(202, 200, 200);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.resultados {
    font-size: 2.2rem;
    margin-top: -1rem;
    margin-bottom: 2rem;
}


.filtros h3 {
    font-size: 2.2rem;
    font-weight: bold;
}

.filtros li {
    font-size: 1.5rem;
    list-style-type: none;
    padding: 0.7rem 0;
    cursor: pointer;

}

button:hover {
    background-color: rgb(173, 173, 173);
}

li:hover {
    color: rgb(173, 173, 173);
}

.ventas {
    display: grid;
    grid-template-columns: 30% 70%;
    border-bottom: 1px rgb(230, 228, 228) solid;
    margin-bottom: 5rem;
}

.ventas h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3rem;
}

.ventas img {
    width: 23rem;
    height: 30rem;
    padding-left: 4rem;
}

.ventas .xtrenght {
    width: 23rem;
    height: 33rem;
}

.last-product {
    margin-bottom: 0rem;
}

/* COMPRA */

.compra {
    font-size: 10rem;
    display: flex;
    margin: 20rem;
    justify-content: center;
    align-items: center;
}

/* NOSOTROS */

#nosotros h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    font-size: 5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#nosotros p {
    justify-content: center;
    align-items: center;
    font-size: 2.3rem;
    padding-inline: 30rem;
    margin-top: 3.5rem;
    margin-bottom: 8rem;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.span-nosotros {
    font-weight: bold;
    font-size: 2.3rem;
}

footer p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    padding: 1rem;
}

.separation {
    height: 0.1rem;
    background-color: rgb(0, 0, 0);
    opacity: 1;
    margin: 0;
}

.footer-suplementos {
    background-color: rgb(240, 236, 236);
    margin: 0;
}

.footer-suplementos p {
    margin: 0;
}


/* CONTACTO */
.title-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6rem 0;
    font-size: 7rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: underline;
}

.subtitulo {
    font-size: 4rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.rsociales {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.redes1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100rem;
    margin: 0 auto;
}

.contactanos {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    margin-top: 6rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.formulario {
    background-color: #515151;
    width: min(60rem, 100%);
    margin: 6rem auto;
    padding: 2rem;
    border-radius: 1rem;
}

.redes1 a {
    text-decoration: none;
}

.formulario legend {
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 2rem;
    color: white
}

label {
    font-size: 2rem;
    color: white;
}

.input-text {
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;
    font-size: 1.5rem;
}

.contenedor-campos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto 20rem;
    column-gap: 1rem;
}

.campo:nth-child(3),
.campo:nth-child(4) {
    grid-column: 1/3;
}

.campo textarea {
    height: 20rem;
}

.alinear-derecha {
    display: flex;
    justify-content: flex-end;
}

.boton {
    display: flex;
    background-color: #4381C1;
    color: #DFE9F3;
    padding: 1rem 3rem;
    margin-top: 4rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 0.5rem;
    width: auto;
    text-align: right;
    border: none;
}

/* Carrito*/

.main-carrito h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.main-carrito p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


/*  Productos*/

.main-productos {
    display: grid;
    grid-template-columns: 50% 50%;
}

.imagen-proteina {
    margin-bottom: 20rem;
    margin-inline: 30%;
    height: 60rem;
    width: 38rem;
}

.imagen-star-creatina {
    margin-bottom: 20rem;
    margin-inline: 30%;
}

.imagen-xtrenght-creatina {
    margin-bottom: 20rem;
    margin-inline: 38%;
    height: 45rem;
    width: 23rem;
}

.imagen-cafeina {
    margin-bottom: 20rem;
    margin-inline: 30%;
}

.separation-images {
    height: 0.2rem;
    width: 100rem;
    background-color: rgb(0, 0, 0);
    opacity: 1;
    margin: 0;
}


.imagen-producto {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20rem;
    flex-direction: column;
}

.imagen-producto div h3 {
    font-size: 4rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 45%;
    width: 100%;
}


.images-relacionados img {
    width: 20rem;
    height: 30rem;
    margin-right: 10rem;
    margin-top: 5rem;
}

.images-relacionados {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 60%;
}

.section-productos {
    background-color: #171717;
    padding: 10rem;
    margin-bottom: 5rem;
}

.precio-productos div {
    display: flex;
}

.off {
    background-color: red;
    padding-inline: 1rem;
    border: 1px black solid;
    font-size: 2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 70%;
    margin-top: .5rem;
}

.price {
    margin-right: 4rem;
    font-size: 2.7rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(255, 255, 255);
}

.old-price {
    color: #9fa0a0;
    text-decoration: line-through;
    font-size: 2.3rem;
}

.precio-productos h2 {
    font-size: 4rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}

.form-productos {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
}

.form-productos select {
    width: 18rem;
    height: 3rem;
    font-size: 2rem;
}

.label-sabores {
    color: rgb(255, 255, 255);
    font-size: 3rem;
    margin-top: 5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.label-cantidad {
    color: rgb(255, 255, 255);
    margin-top: 1.5rem;
    font-size: 3rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#agregar {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 15rem;
    background-color: rgb(3, 102, 25);
    color: white;
    padding-block: 1rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#agregar:hover {
    background-color: rgb(6, 153, 38);
}

.agregar-sin-sabor {
    margin-top: 12rem;
}


.calcular-envio {
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.calcular {
    margin-top: 3rem;
    font-size: 2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.descripcion {
    margin-top: 7rem;
}

.descripcion h3 {
    font-size: 3rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(255, 255, 255);
    margin-bottom: 3rem;
}

.descripcion p {
    font-size: 2rem;
    color: rgb(255, 255, 255);
}

/* MOBILE */
@media only screen and (max-width: 500px) {

    /* NAV BAR*/

    .info {
        display: none;
    }

    .menu-icon {
        background-image: url(../images/Menu-Hamburguesa.png);
        background-color: #5a5c5c !important;
        width: 35px;
        height: 35px;
        border: none;
    }

    .navbar-toggler:focus {
        box-shadow: none !important;
        border: none;
    }


    button:hover {
        background-color: rgb(116, 113, 113);
    }

    .nav-title a {
        font-size: 3.8rem;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: black;
        -webkit-text-stroke-color: black;
        -webkit-text-stroke-width: 0;
    }

    .nav-item a {
        font-size: 2.8rem;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: black;
        -webkit-text-stroke-color: rgb(0, 0, 0);
        -webkit-text-stroke-width: 0;

    }

    .navbar-toggler {
        z-index: 1050;
        margin-left: 1rem;
    }

    nav ul {
        align-items: start;
    }

    .navbar {
        height: 7rem;
    }

    .navbar-collapse {
        background-color: rgb(237, 239, 241);
        padding: 1rem;
        border-bottom: 0.2rem solid black;
    }

    .container-fluid {
        --bs-gutter-x: 0 !important;
    }

    .icon-tabler-shopping-cart {
        margin-top: -5px;
        width: 1.5rem;
        height: 1.5rem;
    }

    /* PAGINA PRINCIPAL*/
    .carousel {
        margin-bottom: 1rem;
    }

    .carousel-inner img {
        height: 30rem;
    }

    .images {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 0;
    }

    .images img {
        width: 25rem;
        height: 35rem;
        margin-bottom: 3rem;
    }

    .icon-tabler-building-store {
        width: 8rem;
        height: 8rem;
    }

    .icon-tabler-building-bank {
        width: 8rem;
        height: 8rem;
    }

    .icon-tabler-gift {
        width: 8rem;
        height: 8rem;
    }

    .metodos-de-pagos {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin-bottom: 1rem;
    }

    .items li {
        font-size: 1.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .items p {
        font-size: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .ayuda {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }

    .ayuda h3 {
        padding-left: 3rem;
        padding-right: 3rem;
        font-size: 1.8rem;
        font-weight: bold;
        text-align: center;
    }

    .ayuda p {
        padding-left: 3rem;
        padding-right: 3rem;
        font-size: 1.5rem;

    }

    .data {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .data p {
        text-align: center;
    }


    #nosotros {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #nosotros p {
        padding-inline: 2rem;
    }


    /* NAV BAR*/
    nav {
        height: 4.5rem;
    }

    .menu {
        font-size: 1.2rem;

    }

    .titulo {
        font-size: 1.7rem;
    }

    .info {
        height: 2rem;
        font-size: 1rem;
    }

    /* CONTAINER*/

    .grid-container {
        padding: 1rem;
    }

    /* FILTROS */

    .filtros h2 {
        font-size: 1.4rem;
    }

    .resultados {
        font-size: 1.4rem;
        margin-bottom: 1.5rem;
    }

    .envio-full button {
        margin-left: 0rem;
        font-size: 1rem;
    }

    .filtros h3 {
        font-size: 1.7rem;
    }

    .filtros li {
        font-size: 1.3rem;
        padding: 0.6rem 0;
    }

    /* SHOP */

    .ventas {
        display: flex;
        flex-direction: column;
        border-bottom: 1px rgb(230, 228, 228) solid;
        margin-bottom: 5rem;
        padding-left: 3rem;
    }

    .ventas img {
        width: 14rem;
        height: 14rem;
        padding-left: 4rem;
    }

    .ventas .xtrenght {
        width: 17rem;
        height: 17rem;
    }

    .shop h3 {
        font-size: 2.2rem;
    }

    .shop .new-price {
        font-size: 2rem;
    }

    .shop p {
        font-size: 1.5rem;
    }

    .last-product {
        margin-bottom: 0;
    }

    /* PRODUCTOS*/

    .main-productos {
        display: flex;
        flex-direction: column;
    }

    .productos-relacionados {
        display: none;
    }

    .separation-images {
        display: none;
    }

    .imagen-proteina {
        height: 38rem;
        width: 22rem;
        margin-bottom: 5rem;
        margin-inline: 27%;
    }

    .imagen-star-creatina {
        margin-inline: 17%;
        height: 40rem;
        width: 30rem;
        margin-bottom: 7rem;
    }

    .imagen-xtrenght-creatina {
        margin-inline: 30%;
        margin-bottom: 7rem;
    }

    .imagen-cafeina {
        margin-inline: 20%;
        margin-bottom: 7rem;
        height: 40rem;
        width: 30rem;
    }


    .imagen-producto {
        margin-top: 5rem;
    }

    .section-productos {
        padding: 1rem;
        margin-bottom: 0;
    }

    .precio-productos h2 {
        font-size: 2.7rem;
    }

    .price {
        font-size: 2.4rem;
    }

    .old-price {
        font-size: 2.4rem;
    }

    .off {
        font-size: 1.5rem;
    }

    .label-sabores {
        font-size: 2.5rem;
    }


    .label-cantidad {
        font-size: 2.5rem;
    }

    #agregar {
        margin-bottom: 5rem;
        margin-top: 5rem;
        font-size: 3rem;
        margin-left: 0;
        width: 100%;
    }

    .calcular-envio {
        font-size: 3.5rem;
    }

    .submit {
        width: 44%;
    }

    .descripcion p {
        font-size: 1.8rem;
        color: rgb(255, 255, 255);
    }

    /*CONTACTO*/

    .title-contact {
        font-size: 5rem;
    }

    .redes1 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 2rem;
    }

    .rsociales {
        margin-bottom: 3rem;
    }

    .redes1 h3 {
        font-size: 3.5rem;
    }

    .formulario {
        margin: 0.5rem;
        padding: 1rem;
        width: 95%;
    }

    .contenedor-campos {
        display: flex;
        flex-direction: column;
    }

    .boton {
        display: flex;
        padding: 1rem 3rem;
        margin-top: 4rem;
        font-size: 2rem;
        text-align: center;
        justify-content: center;
        width: 100%;
    }

}




/* TABLET */

@media only screen and (min-width: 501px) and (max-width:999px) {

    /* NAV BAR */

    nav {
        height: 9rem;
    }

    .menu {
        font-size: 1.5rem;

    }

    .info {
        display: none;
    }

    .titulo {
        font-size: 2.3rem;
    }


    .info {
        height: 3rem;
        font-size: 1.5rem;
    }

    .icon-tabler-truck-delivery {
        width: 25px;
        height: 25px;
    }

    /* MENU HAMBURGUESA*/

    .menu-icon {
        background-image: url(../images/Menu-Hamburguesa.png);
        background-color: #5a5c5c !important;
        width: 35px;
        height: 35px;
        border: none;
        margin-left: 1rem;
    }


    nav ul {
        align-items: start;
    }

    .navbar-collapse {
        background-color: rgb(237, 239, 241);
        padding: 1rem;
        border-bottom: 0.2rem solid black;
    }

    .container-fluid {
        --bs-gutter-x: 0 !important;
    }

    .nav-title a {
        font-size: 4.3rem;
        color: black;
        -webkit-text-stroke-color: rgb(0, 0, 0);
        -webkit-text-stroke-width: 0;
    }

    .nav-item a {
        font-size: 3.5rem;
        color: black;
        -webkit-text-stroke-color: rgb(0, 0, 0);
        -webkit-text-stroke-width: 0;
    }

    /* PAGINA PRINCIPAL*/

    .icon-tabler-shopping-cart {
        width: 2.6rem;
        height: 2.6rem;
    }

    .carousel {
        margin-bottom: 1rem;
    }

    .carousel-inner img {
        height: 45rem;
    }


    .metodos-de-pagos {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin-bottom: 5rem;
    }

    .items li {
        font-size: 3.5rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .items p {
        font-size: 1.7rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .images {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 0;
    }

    .images img {
        width: 38rem;
        height: 55rem;
        margin-bottom: 3rem;
    }

    .icon-tabler-building-store {
        width: 17rem;
        height: 17rem;
    }

    .icon-tabler-building-bank {
        width: 17rem;
        height: 17rem;
    }

    .icon-tabler-gift {
        width: 17rem;
        height: 17rem;
    }

    .ayuda {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }

    .ayuda h3 {
        padding-left: 3rem;
        padding-right: 3rem;
        font-size: 2.5rem;
        font-weight: bold;
        text-align: center;
    }

    .ayuda p {
        padding-left: 3rem;
        padding-right: 3rem;
        font-size: 1.8rem;
        text-align: center;
    }

    .data {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #nosotros {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #nosotros p {
        padding-inline: 2rem;
        font-size: 3rem;
    }

    #nosotros span {
        font-size: 3rem;
    }

    /* CONTAINER*/

    .grid-container {
        padding: 1rem;
    }

    /* FILTROS */

    .filtros h2 {
        font-size: 2.6rem;
    }

    .resultados {
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }

    .envio-full button {
        font-size: 1.5rem;
    }

    .filtros h3 {
        font-size: 2.5rem;
    }

    .filtros li {
        font-size: 1.6rem;
        padding: 0.6rem 0;
    }

    /* SHOP */

    .ventas {
        display: flex;
        flex-direction: column;
        border-bottom: 1px rgb(230, 228, 228) solid;
        margin-bottom: 5rem;
        padding-left: 3rem;
    }

    .ventas img {
        width: 14rem;
        height: 17rem;
        padding-left: 4rem;
    }

    .ventas .xtrenght {
        width: 17rem;
        height: 17rem;
    }

    .shop h3 {
        font-size: 3rem;
    }

    .shop .new-price {
        font-size: 2.2rem;
    }

    .shop p {
        font-size: 1.7rem;
    }

    .last-product {
        margin-bottom: 0;
    }

    /* PRODUCTOS*/

    .main-productos {
        display: flex;
        flex-direction: column;
    }

    .productos-relacionados {
        display: none;
    }

    .separation-images {
        display: none;
    }

    .imagen-producto {
        margin-top: 5rem;
    }

    .imagen-proteina {
        width: 25rem;
        height: 40rem;
        margin-bottom: 5rem;
        margin-inline: 35%;
    }

    .imagen-star-creatina {
        margin-inline: 25%;
    }

    .imagen-xtrenght-creatina {
        margin-inline: 36%;
        margin-bottom: 7rem;
    }

    .imagen-cafeina {
        margin-inline: 30%;
        margin-bottom: 7rem;
        height: 40rem;
        width: 30rem;
    }

    .section-productos {
        padding: 1rem;
        margin-bottom: 0;
    }

    #agregar {
        margin-bottom: 8rem;
        margin-top: 8%;
        margin-left: 10%;
        width: 80%;
    }

    .calcular-envio {
        margin-left: 3rem;
    }

    .calcular {
        width: 40%;
        margin-left: 3rem;
    }

    .submit {
        width: 40%;
    }
}


/* COMPUTADORA */

@media only screen and (min-width: 1000px) and (max-width: 1350px) {

    /* PAGINA PRINCIPAL*/

    .carousel {
        margin-bottom: 1rem;
    }

    .carousel-inner img {
        height: 45rem;
    }


    .metodos-de-pagos {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin-bottom: 3rem;
    }

    .items li {
        font-size: 3rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .items p {
        font-size: 1.4rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .images {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-bottom: 0;
    }

    .images img {
        width: 30rem;
        height: 45rem;
        margin-bottom: 3rem;
    }

    .icon-tabler-building-store {
        width: 13rem;
        height: 13rem;
    }

    .icon-tabler-building-bank {
        width: 13rem;
        height: 13rem;
    }

    .icon-tabler-gift {
        width: 13rem;
        height: 13rem;
    }

    .ayuda {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;

    }

    .ayuda h3 {
        padding-left: 3rem;
        padding-right: 3rem;
        font-size: 1.8rem;
        font-weight: bold;
    }

    .ayuda p {
        padding-left: 3rem;
        padding-right: 3rem;
        font-size: 1.4rem;
    }

    .data {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #nosotros {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #nosotros p {
        padding-inline: 15rem;
    }

    /* SHOP */

    .ventas img {
        width: 12rem;
        height: 15rem;
        padding-left: 4rem;
    }

    .ventas .xtrenght {
        width: 14rem;
        height: 18rem;
    }

    .shop h3 {
        font-size: 2rem;
    }

    .shop .new-price {
        font-size: 1.7rem;
    }

    .shop p {
        font-size: 1.2rem;
    }

    /* PRODUCTOS*/

    .section-productos {
        padding: 3rem;
    }

    .imagen-proteina,
    .imagen-star-creatina,
    .imagen-cafeina,
    .imagen-xtrenght-creatina {
        margin-left: 20%;
    }


    .productos-relacionados {
        margin-left: -30rem;
    }

    .images-relacionados {
        margin-left: 33rem;
    }

    .images-relacionados img {
        width: 18rem;
        height: 28rem;
    }

}

/* TELEVISOR*/

@media only screen and (min-width: 2500px) {

    /* PAGINA PRINCIPAL*/

    .carousel {
        margin-bottom: 1rem;
    }

    .carousel-inner img {
        height: 45rem;
    }


    .items li {
        font-size: 7rem;
        padding-left: 15rem;
        padding-right: 15rem;
    }

    .items p {
        font-size: 4rem;
        padding-left: 15rem;
        padding-right: 15rem;
    }

    .images {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-bottom: 0;
    }

    .images img {
        width: 60rem;
        height: 90rem;
        margin-bottom: 15rem;
        margin-inline: 4rem;
    }

    .data {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-inline: 10rem;
    }

    .icon-tabler-building-store {
        width: 33rem;
        height: 33rem;
    }

    .icon-tabler-building-bank {
        width: 33rem;
        height: 33rem;
    }

    .icon-tabler-gift {
        width: 33rem;
        height: 33rem;
    }


    .ayuda {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    .ayuda h3 {
        padding-left: 3rem;
        padding-right: 3rem;
        font-size: 5rem;
        font-weight: bold;
    }

    .ayuda p {
        padding-left: 3rem;
        padding-right: 3rem;
        font-size: 4rem;
    }



    /* NAV BAR*/

    nav {
        height: 15rem;
    }

    .menu {
        font-size: 5rem;

    }

    .titulo {
        font-size: 8rem;
    }

    .info {
        height: 5rem;
        font-size: 2.5rem;
    }

    .icon-tabler-truck-delivery {
        width: 30px;
        height: 30px;
    }

    /* CONTAINER*/

    .grid-container {
        padding: 10rem;
    }

    /* FILTROS */

    .filtros h2 {
        font-size: 8rem;
    }

    .resultados {
        font-size: 5rem;
        margin-bottom: 3rem;
    }

    .envio-full button {
        font-size: 3rem;
    }

    .filtros h3 {
        font-size: 5rem;
        margin-top: 7rem;
    }

    .filtros li {
        font-size: 2.5rem;
        padding: 1rem 0;
    }

    /* SHOP */
    .ventas img {
        width: 30rem;
        height: 36rem;
        padding-left: 4rem;
    }

    .ventas .xtrenght {
        width: 35rem;
        height: 35rem;
    }

    .shop h3 {
        font-size: 5rem;
    }

    .shop .new-price {
        font-size: 4rem;
    }

    .shop p {
        font-size: 2.5rem;
    }

    .formulario {
        margin-bottom: 150rem;
    }

}