$color-boton: rgb(255, 255, 255);
$background-boton: rgb(3, 99, 177);
$font-boton: 2rem;
$radius: 1rem;

.body-carrito {
    h1 {
        margin-top: 7rem;
        margin-bottom: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 5rem;
    }

    section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: rgb(240, 236, 236);
        height: 40rem;
        width: 50%;
        margin-inline: 25%;
        margin-bottom: 15rem;
        border-radius: $radius;

        p {
            font-size: 1.8rem;
        }

        button {
            color: $color-boton;
            background-color: $background-boton;
            font-size: $font-boton;
            border-radius: $radius;
            border: none;
            padding: 1.3rem;
            font-weight: bold;
        }


    }
}

@mixin boton($backgroud-boton, $border-boton) {

    background-color: $backgroud-boton;
    border: $border-boton;
    margin-bottom: 1.5rem;
    margin-left: 2rem;
    border-radius: 0.5rem;
    font-size: 2rem;
}


.button-llega {
    @include boton(rgb(202, 200, 200), 1px black solid);

}

.button-envio {
    @include boton(rgb(202, 200, 200), 1px black solid);
}

.button-llega:hover {
    @include boton(rgb(77, 110, 221), 1px black solid);
}

.button-envio:hover {
    @include boton(rgb(74, 175, 83), 1px black solid);
}

@media only screen and (max-width:500px) {

    .body-carrito section {
        display: flex;
        height: 40rem;
        width: 90%;
        margin-inline: 2rem;
        margin-bottom: 15rem;
        border-radius: $radius;
}

}

@media only screen and (min-width:501px) and (max-width:960px) {
    .body-carrito h1{
        font-size: 10rem;
    }

    .body-carrito section {
        display: flex;
        height: 40rem;
        width: 95%;
        margin-inline: 2rem;
        margin-bottom: 40rem;
        border-radius: $radius;
    }

    .body-carrito section p {
        font-size: 3rem;
    }

    .body-carrito section button {
        font-size: 2.5rem;
    }

}

@media only screen and (min-width: 2500px) {
    .body-carrito section {
        margin-bottom: 200rem;
    }
}